html,
body {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 25vh;
  margin-right: 25vh;
  display: grid;
  grid-template-columns: 6fr 11fr;
  grid-template-rows: 5vh 95vh;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

section,
.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 5vh;
}

.aside {
  display: grid;
}