html,
body {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 0vh;
  margin-bottom: 5vh;
  margin-left: 0vh;
  margin-right: 0vh;
  display: grid;
  grid-template-columns: 6fr 11fr;
  grid-template-rows: 6vh 94vh;
}

aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 5vh;
  margin-top: 1vh;

}

section,
.content {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 2vh;
  margin-right: 5vh;
  margin-top: 1vh;
}

.aside {
  display: grid;
}